
:root{
    --main-bg-color:rgb(226, 226, 226);
}

*{
    padding: 0;
    margin: 0;
}

/* header{
    background: var(--main-bg-color);
    position:fixed;
}
nav{
    display: flex;
}

.logo{
    display: flex;
    text-align: center;
}
.logo img{
    width: 225px;
    height: 50px;
    padding: 18px 70px 0px 25px;
}
.login{
    display: flex;
    text-align: center;
}
.login img{
    width: 120px;
    height: 40px;
    cursor: pointer;
    padding: 25px 10px 0px 272px;
}
.login img:hover{
    width: 130px;
    height: 45px;
}

 nav ul{
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

 }
 nav ul li{
    margin-left: 35px;
    list-style: none;
    padding: 0px 30px;
 }
 nav ul li a{
    color: gray;;
    text-decoration: none;
    font-size: 22px;
 }
 nav ul li a:hover{
    color: brown;
    font-weight: bold;
 } */


 
 .contact{
    height: 9vh;
    width: auto;
    background: rgb(241, 241, 241);
    display: flex;
    
 }

 .contact img{
   padding: 15px 0px 10px 10px;
 }

 .contact p{
    display: flex;
    justify-content: center;
     height: 30px;
    width: auto;
    margin: auto;
 }
 .sign{
    display: flex;
    justify-content: end;
    padding: 0px 9px 0px 0px;
 }
 .sign img{
    height: 35px;
    width: 180px;
    
 }
.copyright{
    height: 4vh;
    width: auto; 
    background: var(--main-bg-color);
    padding-top: 4px;
    text-align: center;
}

 footer{
    overflow: hidden;
 }

 