main{
    color: aliceblue;
    height: 575px;
    padding-top: 60px;
    background-image: url('Img/IMG_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    color: rgb(10, 121, 129);
    font-size: 44px;
    text-align: center;
    padding-top: 20px;
}

.container{
    height: 425px;
    width: 370px;
    color: rgb(41, 41, 41);
    margin: 70px 35%;
    text-align: center;
    padding: 10px 0px;
    font-size: 22px;
    border: 1px solid rgb(228, 228, 227);
    background-image: url('IMG/BG_12.jpg');
    background-size: cover;
    border-radius: 9px;
}
.id{
    height: 27px;
    width: 180px;
}

.button{
    color: aliceblue;
    background: rgb(0, 151, 189);
    height: 40px;
    width: 100px;
    border: 0.5px;
    border-radius: 6px;
    font-size: 20px;
}